.dosis{
    font-family: 'Dosis', sans-serif;
}

.source{
    font-family: 'Source Sans 3', sans-serif;
}

h1, h2{
    font-family: 'Dosis', sans-serif;
    text-align: center;
}

p, li{
    font: normal normal normal 16px/20px 'Source Sans 3';
}

h5{
    font: normal normal normal 25px/32px 'Dosis';
}
